body {
	font-famlily: currier-new, monospace;
	background-color: #1a1a2e;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.ui {
	display: flex;
	justify-content: space-between;
	width: 480px;
}

#grid {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
	height: 432px;
	width: 480px;
	display: flex;
	flex-wrap: wrap;
	background: url("images/floor-tile.png");
	background-size: cover;
	position: relative;
	padding: 0%;
}
#grid div {
	width: 48px;
	height: 48px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.link-left,
.link-right,
.link-down,
.link-up,
.slicer-enemy,
.skeletor-enemy {
	position: absolute;
	width: 48px;
	height: 48px;
	z-index: 10;
}

.link-right {
	background-image: url("images/char-right.png");
}
.link-left {
	background-image: url("images/char-left.png");
}
.link-up {
	background-image: url("images/char-up.png");
}
.link-down {
	background-image: url("images/char-down.png");
}
.left-wall {
	background-image: url("images/left-wall.png");
}
.right-wall {
	background-image: url("images/right-wall.png");
}
.top-wall {
	background-image: url("images/top-wall.png");
}
.bottom-wall {
	background-image: url("images/bottom-wall.png");
}
.bottom-left-wall {
	background-image: url("images/bottom-left-wall.png");
}
.top-left-wall {
	background-image: url("images/top-left-wall.png");
}
.top-right-wall {
	background-image: url("images/top-right-wall.jpg");
}
.bottom-right-wall {
	background-image: url("images/bottom-right-wall.png");
}
.floor {
	background-image: url("images/floor-tile.png");
}
.slicer-enemy {
	background-image: url("images/slicer-enemy.png");
}
.skeletor-enemy {
	background-image: url("images/skeletor-enemy.png");
}
.fire-pot {
	background-image: url("images/fire-pot.png");
}
.stairs {
	background-image: url("images/stairs.png");
}
.lantern {
	background-image: url("images/lanterns.png");
}
.fire-pot {
	background-image: url("images/fire-pot.png");
}
.left-door {
	background-image: url("images/left-door.png");
}
.top-door {
	background-image: url("images/top-door.png");
}
